.App {
  text-align: center;
}
.title {
  margin-top: 40px;
}
.books {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 30px;
}
img {
  height: 300px;
}
.icon {
  width: 50px;
  height: 30px;
}
.icon-wrapper {
  position: absolute;
  top: 30px;
  right: 50px;
}
.cart {
  border: 1px solid #333;
  border-radius: 5px;
  width: 120px;
  height: 65px;
  background: lemonchiffon;
  color: darkblue;
  position: absolute;
  top: 70px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayCart {
  font-size: 1.5rem;
}
button {
  background: lemonchiffon;
  color: darkblue;
  border-radius: 5px;
  padding: 5px 10px;
}
header {
  margin-bottom: 40px;
  text-align: center;
}
